html,
body {
  height: 100%;
}

#grid {
  height: 100%;
}

.grid-item {
  display: block;
  min-height: 25%;
}

#g1 {
  grid-area: a
}

#g2 {
  grid-area: b
}

#g3 {
  grid-area: c
}

#g4 {
  grid-area: d
}

@media (orientation: landscape) {
  #grid {
    display: grid;
    grid-template: "a b" "c d";
    grid-definition-columns: auto minmax(min-content, 1fr);
    grid-definition-rows: auto minmax(min-content, 1fr) auto
  }
}

.bar {
  fill: steelblue;
}

#bars {
  min-width: 531px;
}